/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

body {
    background: linear-gradient(-30deg, #33ccff, #81d5ff, #ffccff, #81d5ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    left: 8%;
    bottom: 2%;
    width: 80px;
    height: 80px;
    background: linear-gradient(
        to top right,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.5)
    );
    animation: zigzag2 3s linear infinite;
}

@keyframes zigzag2 {
    0%,
    100% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(100px) scale(0.8);
    }
}